<div class="series">
  <div row align="between start">

    <div *ngIf="series.cover" column="12" class="cover-container">
      <img [src]="series.cover"
           [alt]="series.name"
           [title]="series.name"
           class="cover"/>
    </div>

    <div column="12" class="name-container">
      <h4>{{ series.name }}</h4>
    </div>

    <div column="12" class="summary-container">
      <p *ngIf="series.summary; else noSummary" [outerHTML]="series.summary | truncate:summaryMaxLength"></p>
      <ng-template #noSummary>
        Summary was not provided
      </ng-template>

      <span *ngIf="series.rating; else unrated">
        <strong>Rating: {{ series.rating | number:'1.1-1' }}</strong>
      </span>
      <ng-template #unrated>
        <small>Series unrated</small>
      </ng-template>
    </div>

    <lnk column="6" [address]="externalLink" [openInNewWindow]="true">See in IMDB</lnk>
    <favourite-button column="6" [state]="series.isFavourite" (toggle)="toggleFavourite.emit(series.id)"></favourite-button>

  </div>

</div>
