<div class="series">
  <div row align="between start">

    <div *ngIf="series.cover" column="12" class="cover-container">
      <img [src]="series.cover"
           [alt]="series.name"
           [title]="series.name"
           class="cover"/>
    </div>

    <div column="12" class="name-container">
      <h4>{{ series.name }}</h4>
    </div>

    <div column="12" class="summary-container">
      <p *ngIf="series.summary; else noSummary" [outerHTML]="series.summary | truncate:summaryMaxLength"></p>
      <ng-template #noSummary>
        Summary was not provided
      </ng-template>

      <span *ngIf="series.rating">
        <strong>Rating: {{ series.rating | number:'1.1-1' }}</strong>
      </span>
    </div>

    <div column="6" class="link-container">
      <a [href]="externalLink" target="_blank" class="link">See in IMDB</a>
    </div>

    <div column="6" class="button-container">
      <button (click)="toggleFavourite.emit(series.id)" class="button" type="button" [title]="favourite.title">
        <fa-icon [icon]="favourite.icon"></fa-icon>
      </button>
    </div>

  </div>

</div>
