<div class="container">
  <ng-container *ngIf="series.length > 0 && loaded">
    <div row align="between end" class="series-list">
      <div *ngFor="let serie of series" column="12" md="6" lg="4">
        <series-list-item [series]="serie" (toggleFavourite)="toggleFavourite.emit($event)"></series-list-item>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="series.length === 0 && loaded">
    <p class="loaded">There are not any series found for given phrase.</p>
  </ng-container>

  <ng-container *ngIf="error">
    <p class="error">Some error occurred when tried to fetch series from server.</p>
  </ng-container>

  <ng-container *ngIf="loading">
    <spinner></spinner>
  </ng-container>
</div>
